<header class='dashboard-toolbar sitebackground navbar-shell'>

  <div class="row col-12">
      <div class="col-3 text-center">
          <a class="menu-toggle"><i class="bi bi-list"></i></a>
      </div>
      <div class="col-9 text-center">
          <div class="brand-title">KAPUNTER</div>

          <!-- @if (!User.Identity.IsAuthenticated)
          { -->
              <div class="cricket-navigation">
                  <ul class="nav top-auth-actions">
                      <li *ngIf="!(authservice.isLoggenIn | async)">
                          <button class="btn siteBtnbackground mb-3 nav-pill-btn" tabindex="0">Demo ID</button>
                      </li>
                      <li *ngIf="!(authservice.isLoggenIn | async)">
                          <button class="btn siteBtnbackground mb-3 nav-pill-btn" tabindex="0" (click)="loginPopup()">Login | Signup</button>
                      </li>
                      <li *ngIf="(authservice.isLoggenIn | async)">
                          <button class="btn siteBtnbackground mb-3 nav-pill-btn" tabindex="0" (click)="goToMyAccount()">My Account</button>
                      </li>
                  </ul>

                  <div class="mobile-auth-actions" *ngIf="!(authservice.isLoggenIn | async)">
                    <button class="btn siteBtnbackground nav-pill-btn-sm" tabindex="0" (click)="loginPopup()">Login</button>
                  </div>
              </div>
          <!-- }
          else
          {
              <h4 class="ContentHeader"></h4>
          } -->
      </div>
  </div>
</header>