<section class="passbook-shell">
  <div class="passbook-switch row col-12 idSwitch rounded-3 text-white">
    <div class="col-12 tabSelection rounded-3 text-center active">
      <p>TRANSACTION HISTORY</p>
    </div>
  </div>

  <div class="passbook-list" *ngIf="isListPassbookHistory">
    <div class="card rounded-3 siteColor passbook-card" *ngFor="let passbook of passbooks">
      <div class="card-body">
        <div class="row col-12 cursorPointer" (click)="PassbookHistoryById(passbook.passbookHistoryId)">
          <div class="col-lg-9 col-8 passbook-left">
            <img class="siteImageSize rounded-circle" src="{{this.sitePath}}{{passbook.documentDetailId}}.{{passbook.fileExtenstion}}">
            <div class="passbook-meta">
              <p class="activityClass text-uppercase">{{passbook.activityDescription}}</p>
              <p class="siteUrl">{{passbook.siteURL}}</p>
              <p class="siteUserName">{{passbook.siteUserName}}</p>
              <p class="createdOn">{{passbook.createdDate}}</p>
            </div>
          </div>
          <div class="col-lg-3 col-4 passbook-right">
            <p class="coins">{{passbook.displayCoins}}</p>
            <p class="{{passbook.trxColor}}">{{passbook.trxStatus}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="passbook-detail" *ngIf="isPassbookHistory">
    <div class="BackBtnMyIds card-body card-body-padding row col-12 backbtnNavDesign detail-back-btn" (click)="viewpassbookHistorylist()">
      <div class="col-12">
        <i class="bi bi-arrow-left-circle-fill"></i> Back
      </div>
    </div>

    <div class="card card-body card-body-padding detail-site-card">
      <div class="d-flex flex-column text-center col-12">
        <span>
          <img class="siteIcon rounded-circle" src="{{this.sitePath}}{{this.passbook?.documentDetailId}}.{{this.passbook?.fileExtenstion}}" />
        </span>
        <p class="text-uppercase">{{this.passbook?.siteName}}</p>
        <p>{{this.passbook?.siteURL}}</p>
      </div>
    </div>

    <div class="card sitebackground rounded-3 siteColor detail-desc-card">
      <div class="card-body card-body-padding">{{this.passbook?.activityDescription}}</div>
    </div>

    <div class="card sitebackground rounded-3 siteColor detail-grid-card">
      <div class="card-body card-body-padding">
        <p class="text-uppercase detail-title">Details</p>
        <div class="nav-item-divider"></div>

        <div class="row col-12 detail-row">
          <div class="col-6"><p>Coins(<i class="bi bi-currency-rupee"></i>)</p></div>
          <div class="col-6 text-end"><p>{{passbook?.coins}}</p></div>
        </div>
        <div class="row col-12 detail-row">
          <div class="col-6"><p>Reference No</p></div>
          <div class="col-6 text-end"><p>{{passbook?.passbookHistoryId}}</p></div>
        </div>
        <div class="row col-12 detail-row">
          <div class="col-6"><p>Request Date</p></div>
          <div class="col-6 text-end createdOn"><p>{{passbook?.createdDate}}</p></div>
        </div>
        <div class="row col-12 detail-row">
          <div class="col-6"><p>Approved On</p></div>
          <div class="col-6 text-end approvedOn"><p>{{passbook?.approvedDate}}</p></div>
        </div>
      </div>
    </div>

    <div class="rounded-3 detail-proof" *ngIf="passbook?.proofDocumentDetailID != null">
      <img src="{{this.proofPath}}{{passbook?.documentDetailId}}.{{passbook?.fileExtenstion}}" class="rounded-3">
    </div>
  </div>
</section>